{%- set base_url = '/'|url(alt='es') -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Python Pereira, Python Colombia">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>PyPereira - Comunidad Python Pereira</title>

    <meta property="og:title" content="PyPereira - Comunidad Python Pereira, Risaralda. Colombia">
    <meta property="og:description"
      content="Comunidad Pereirana creada con el objetivo de reunir a los usuarios desarrolladores y apasionados por Python y sus derivados">
    <meta property="og:image" content="https://pypereira.co/static/images/summary.jpg">
    <meta property="og:url" content="https://PyPereira.co">
    <meta name="twitter:card" content="summary_large_image">
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{{ base_url }}static/images/favicon.ico" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ base_url }}static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url }}static/css/animate.css">
    <link rel="stylesheet" href="{{ base_url }}static/css/LineIcons.css">
    <link rel="stylesheet" href="{{ base_url }}static/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ base_url }}static/css/owl.theme.css">
    <link rel="stylesheet" href="{{ base_url }}static/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ base_url }}static/css/nivo-lightbox.css">
    <link rel="stylesheet" href="{{ base_url }}static/css/main.css">    
    <link rel="stylesheet" href="{{ base_url }}static/css/responsive.css">

  </head>
  
  <body>

    <!-- Header Section Start -->
    <header id="home" class="hero-area">    
      <div class="overlay">
        <span></span>
        <span></span>
      </div>
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
          <a href="index.html" class="navbar-brand"><img src="{{ base_url }}static/img/logo.png" alt=""></a>       
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll {% if this._path=='/' %}active{% endif %}" href="{{ '/'|url }}">Inicio</a>
              </li>
              {% for href, title in [
                ['/eventos', 'Eventos'],
                ['/patrocinadores', 'Patrocinadores'],
                ['/calendario', 'Calendario'],
                ['/acerca-de', 'Acerca de']
              ] -%}
                <li class="nav-item">
                  <a class="nav-link page-scroll {% if this.is_child_of(href) %}active{% endif %}" href="{{ href|url }}">{{ title }}</a>
                </li>
              {% endfor -%}
              <li class="nav-item">
                <a class="btn btn-singin" href="#">Download</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>  
      <div class="container">      
        <div class="row space-100 justify-content-center no-size">
          {% set events = site.query('/eventos', alt=this.alt).filter(F.success).filter(F.post) %}
          {% if events %}
            <div class="col-lg-6 col-md-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">You are Using Free Lite Version</h2>
                <p>Please, Purchase full version of Slick to get all pages, features and permission to use in commercial projects</p>
                <div class="header-button">
                  <a href="https://rebrand.ly/slick-ud" rel="nofollow" target="_blank" class="btn btn-border-filled">Purchase Now</a>
                  <a href="https://rebrand.ly/slick-ud" rel="nofollow" target="_blank" class="btn btn-border page-scroll">Learn More</a>
                </div>
              </div>
            </div>
          {% endif %}
          <div class="col-lg-6 col-md-12 col-xs-12 p-0">
            <div class="intro-img">
              <img src="{{ base_url }}static/images/2019.svg" alt="">
            </div>            
          </div>
        </div> 
      </div>             
    </header>
    <!-- Header Section End --> 
    <div class="ga-script">{{ generate_google_analytics() }}</div>
    {%- block body -%}{%- endblock -%}
  <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section id="footer-Content">
        <div class="container">
          <!-- Start Row -->
          <div class="row">

          <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              
              <div class="footer-logo">
               <img src="{{ base_url }}static/img/footer-logo.png" alt="">
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Company</h3>
                <ul class="menu">
                  <li><a href="#">  - About Us</a></li>
                  <li><a href="#">- Career</a></li>
                  <li><a href="#">- Blog</a></li>
                  <li><a href="#">- Press</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Product</h3>
                <ul class="menu">
                  <li><a href="#">  - Customer Service</a></li>
                  <li><a href="#">- Enterprise</a></li>
                  <li><a href="#">- Price</a></li>
                  <li><a href="#">- Scurity</a></li>
                  <li><a href="#">- Why SLICK?</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Download App</h3>
                <ul class="menu">
                  <li><a href="#">  - Android App</a></li>
                  <li><a href="#">- IOS App</a></li>
                  <li><a href="#">- Windows App</a></li>
                  <li><a href="#">- Play Store</a></li>
                  <li><a href="#">- IOS Store</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Subscribe Now</h3>
                <p>Appropriately implement calysts for change visa wireless catalysts for change. </p>
                <div class="subscribe-area">
                  <input type="email" class="form-control" placeholder="Enter Email">
                  <span><i class="lni-chevron-right"></i></span>
                </div>
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- Copyright Start  -->

        <div class="copyright">
          <div class="container">
            <!-- Star Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="site-info text-center">
                  <p>Crafted by <a href="http://uideck.com" rel="nofollow">UIdeck</a></p>
                </div>              
                
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
    <!-- Footer Section End --> 


    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a> 

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{{ base_url }}static/js/jquery-min.js"></script>
    <script src="{{ base_url }}static/js/popper.min.js"></script>
    <script src="{{ base_url }}static/js/bootstrap.min.js"></script>
    <script src="{{ base_url }}static/js/owl.carousel.js"></script>      
    <script src="{{ base_url }}static/js/jquery.nav.js"></script>    
    <script src="{{ base_url }}static/js/scrolling-nav.js"></script>    
    <script src="{{ base_url }}static/js/jquery.easing.min.js"></script>     
    <script src="{{ base_url }}static/js/nivo-lightbox.js"></script>     
    <script src="{{ base_url }}static/js/jquery.magnific-popup.min.js"></script>     
    <script src="{{ base_url }}static/js/form-validator.min.js"></script>
    <script src="{{ base_url }}static/js/contact-form-script.js"></script>   
    <script src="{{ base_url }}static/js/main.js"></script>
    
  </body>
</html>